#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content-screen {
  position: relative;
  width: 70vw;
  height: 90vh;
  overflow: scroll;
}

.content-wrapper {
  position: absolute;
  top: 20%;
  left: 20%;
  /* width: max-content; */
  /* height: max-content; */
}

.right-sidebar {
  position: absolute;
  top: 5%;
  --width: 15em;
  left: calc(100% - 1em - var(--width));
  width: var(--width);
  height: 90%;
  overflow: scroll;
  background-color: rgb(105, 105, 105);
}

.sidebar-item-header {
  position: relative;
  margin: 0 2em;
  font-weight: 600;
}

.sidebar-item-header::before {
  position: absolute;
  content: '';
  top: 0.6em;
  --width: 2em;
  width: var(--width);
  left: calc(-1.1*var(--width));
  height: 1px;
  background-color: #1ee;
}
.sidebar-item-header::after {
  position: absolute;
  content: '';
  top: 0.6em;
  --width: 100%;
  width: var(--width);
  height: 1px;
  margin: 0 3px;
  background-color: #1ee;
}
.sidebar-item-content {
  padding: 0 0.5em ;
  border: dotted 1px rgb(189, 189, 189);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.kid {
  /* min-width: 24px; */
  position: relative;
  min-height: 12px;
  background-color: hsla(0, 26%, 44%, 0.2);
  padding: 0 1em;
  border: solid 1px transparent;
  box-sizing: border-box;
}

.kid:hover {
  border: dashed 1px #245;
}

.welcome {
  position: relative;
}

.welcome::before {
  min-width: 12px;
  min-height: 12px;
  content: 'Place here';
  border: dashed 1px #a77;
  color: #a77;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 1em;
}

.faltu {
  color: #484;
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
  font-style: italic;
}

.focused {
  border: solid 1px #1ee !important;
 }

.empty {
  border: dotted 1px rgb(209, 209, 209);
}

.cmd {
  background-color: aquamarine;
  color: #000;
}

